:root {
    --dark: #2f303a;
    --grey: #757575;
    --FFF: #FFF;
    --blue: #2196F3;
    --black: #212121;
    --button: #F5F4FA;
    --line: #ECECEC;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--FFF);
    border: none;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
    margin: 0;
}

ul,
li {
    list-style-type: none;
}

a:focus {
    color: var(--blue);
}

a:hover {
    color: var(--blue);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

figure {
    margin: 0;
    padding: 0;
    width: 270;
    height: 220;
}

.icon {
    fill: #AFB1B8;;
}

.icon:hover {
    fill: var(--FFF);
}

.box-position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 50px 0 0 0;
    gap: 30px;
}
/* -------------- html */

/*--------------- header */

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 15px;
}

.cancel-logo {
    float: left;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192em;
    letter-spacing: 0.03em;
    text-decoration: none;
   
}

.position-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-word {
    color: #2196F3;
    margin: 0;
}

.second-word {
    color: #000000;
    
}

.first-position {
    display: flex;
    margin: 0;
    gap: 46px;
    padding-left: 93px;
}

.second-position {
    display: flex;
    gap: 50px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.cancel {
    text-decoration: none;
    color: var(--black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 142em;
    letter-spacing: 0.02em;
}

.mail-tel-color {
    color: var(--grey);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 142em;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ---------------------- end header */


/* ---------------EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU--------------------------*/

.navigation-div {
    width: 1600px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;     
    background: rgba(47, 48, 58, 0.4);
    background-image: url(../images/background-image.jpg);
    box-shadow: inset 50px 50px 50px 50px rgb(47 48 58 / 40%),
                inset 1600px 600px 50px 50px rgb(47 48 58 / 40%);

}


.name-style {
    width: 696px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363em;
    letter-spacing: 0.06em;
    color: var(--FFF);
    text-transform: uppercase;
    text-align: center;
}

.button-bg {
    width: 200px;
    height: 50px;
    background-color: var(--blue);
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    margin: 30px 0 0 0;
}

.button-1 {
    color: var(--FFF);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875em;

}

/* ---END-------EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU--------------------------*/

/* ---------------------- lerem ------------*/

.article-section {
    width: 1600px;
    height: 919px;
}


.all-lorem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    
}
.margin-lorem {
    padding: 0 0 94px 0;
}

.lorem-bg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    
}

.icon-lorem {
    width: 70px;
    height: 70px;
}

.lorem-font {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142em;
    letter-spacing: 0.03em;
    padding-top: 30px;
}

.lorem-text {
    width: 270px;
    height: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714em;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin: 0;
    padding: 10px 0 0 0;
}



/* ------END-------------- lerem ---------------- */



/* < -- Czym się zajmujemy --> */




.box-figure {
    width: 370px;
    height: 294px;
}

.font-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166em;
    text-align: center;
    letter-spacing: 0.03em;
}

/*----------END- Czym się zajmujemy --> */


/*----------Nasz zespół----------- --> */

.image-section {
    width: 1600px;
    background-color: var(--button);
}

.box-human {
    width: 270px;
    height: 428px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name-human {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187em;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    padding: 30px 0 10px 0;
}

.description-human {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187em;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey);
    margin: 0;
    padding: 0 0 16px 0;
}

.icon-position{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.icon-team {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #afb1b8;
}
/* < !-------------END-- Nasz zespół --> */

/* < !-------------Nasi klienci --> */

.box-klients {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
}

.box-klients:hover {
    background: var(--FFF);
    fill: #2196F3;
    
}

.icon-klients {
    width: 106px;
    height: 60px;
}

/* < !-----END-------Nasi klienci --> */

ellipse {
        
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--FFF);
}

ellipse:hover {
    fill: var(--blue) ;
}
/*------------- footer  ------------------*/

.footer-section {
    width: 1600px;
    height: 252px;
    background-color: var(--dark);
    padding-top: 60px;
    padding-bottom: 60px;
}


.cancel-logo1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192em;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-left: 215px;
   
}

.position-adres {
    margin: 0;
    padding: 0;
    padding-left: 215px;
    padding-top: 11px;
}

.margin-footer {
    padding-top: 9px;
}

.adres {
    text-decoration: none;
    color: var(--FFF);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.174em;
    /* or 171% */
    letter-spacing: 0.03em;
    line-height: 24px;
}

.third-word {
    color: var(--FFF);

}

.mail-tel1 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.174em;
    letter-spacing: 0.02em;
    color: #FFFFFF99;
    text-decoration: none;
    

}

/*-----END------- footer  ------------------*/


/* Portfolio */

.line-page {
    margin: 0;
    width: 1600px;
    border: 1px solid #ECECEC;

}



.button-all {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0 15px;

}

.button-portfolio {
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 6px 22px 6px 22px;
}

.button-portfolio:hover,
.button-portfolio:focus {
    background: #2196F3;
    color: var(--FFF);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
}

.style-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    letter-spacing: 0.03em;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

.li-box {
    background: var(--FFF);
    border: 1px solid #EEEEEE;
}

.description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin: 0;
}

.second-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.03em;
    color: var(--grey);
    padding: 4px 24px 20px 24px;
    margin: 0;
}


/* -------END---------Portfolio----------------- */